{% extends 'ApplicationBundle::base.html.twig' %}

{% block contenu %}


 <div class="row">
    <div>
        <div class="col-md-3 col-sm-4 col-sm-offset-3">
            <div class="team-member">
                <div class="member-img">
                    <img class="img-responsive img-circle" src="" alt="KAMA Abdoulaye" style="width:150px; height:150px;">
                </div>
                <div class="inner-content">
                    <h1 class="h3">KAMA Abdoulaye</h1>
                    <span>Telecommunications and Networks Engineer</span>
                    <p></p>
                </div>
            </div>
        </div>
        <div class="col-md-1 col-sm-1">
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="team-member">
                <div class="member-img">
                    <img class="img-responsive img-circle" src="" alt="Philippe GUILAVOGUI" style="width:150px; height:150px;">
                </div>
                <div class="inner-content">
                    <h1 class="h3">Philippe GUILAVOGUI</h1>
                    <span>Telecommunications and Networks Engineer</span>
                    <p></p>
                </div>
            </div>
        </div>
        <div class="col-md-2 col-sm-2">
        </div>
    </div>
</div>
<br/><br/><br/>


{% endblock %}